@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(255, 31, 31);
    grid-area: 1 / 1 / 2 / span 4;
}

.caixa2 {
    background-color: blueviolet;
    grid-area: 2 / 1 / span 2 / -3;
}

.caixa3 {
    background-color: blue;
    grid-area: 2 / 3 / 4 / 5;
}